* {box-sizing: border-box;}

body {
  padding:0;
  margin:0;
  font-size: 100%;
  background-color: #d9d9d9
}

.container{
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff
}

div {
  padding:5px;
  margin-bottom:10px;
}

p {
  width:50%;
}

td, th {
  padding:20px;
}

h1 {
  color: #c415ab;
}


.table{
  border:1px solid #ff0000;
  border-collapse: collapse;

}
.row-header{
  background-color:#5ED2AB;
}
.row-footer{
  background-color:#316ABC;
  font-weight: bold;
}
